.logo_name {
  font-size: 35px;
  font-weight: 700;
  line-height: 48px;
  padding-left: 5px;
}

.description-logo {
  font-size: 16px;
  line-height: 22px;
  padding-left: 5px;
}

.send-form {
  position: relative;
}

.input-city-class {
  border: none;
  border-radius: 50px;
  padding: 14px 30px;
  width: 250px;
  color: #1c1c1c;
  font-size: 20px;
  margin-top: 20px;
  cursor: pointer;
}

.search-city {
  border: none;
  background-color: #f15022;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  position: absolute;
  top: 25px;
  right: 8px;
  cursor: pointer;
}

input:focus {
  outline-color: #f15022;
}

::placeholder {
  color: #7e7e7e;
  font-size: 18px;
}

#preloader {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
  background: #fff url(../images/loader.gif) no-repeat center center;
}
