@import url(./header.css);

:root {
  --color-white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: var(--color-white);
}

.background {
  padding: 30px 15px;
  background: linear-gradient(
      45deg,
      rgba(183, 204, 246, 0.7),
      rgba(7, 43, 127, 0.4)
    ),
    url("../images/back.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap; /* перенос елементів на інший рядок */
}

.items-center {
  align-items: center; /* елементи розташовуються в центрі контейнера по вертикалі */
}

.justify-between {
  justify-content: space-between; /* елементи розташовуються по краях */
}

/* -------------------------- MAIN -------------------------------- */
.weather-box {
  width: 600px;
  margin-top: 30px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 50px;
  padding: 20px;
}

.city {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  padding-top: 5px;
}

.weather-icon {
  padding: 30px 0;
}

.main-weather-icon {
  width: 90px;
}

.weather-temperature {
  font-size: 30px;
  font-weight: 700;
  line-height: 48px;
  margin-left: 20px;
}

.description-weather {
  font-weight: 700;
  line-height: 25px;
  margin-bottom: 20px;
}

.description-parameters {
  font-size: 16px;
  line-height: 19px;
}

.vertical-line {
  background: var(--color-white);
  width: 2px;
  height: 60px;
}

.first-column {
  margin: 0 20px;
}

.arrow {
  margin-right: 5px;
}

.pressure {
  margin-bottom: 15px;
}

.visibility {
  margin-top: 15px;
}

/* ------------------------ UPCOMING-FORECAST ------------------------------------ */

.upcoming-forecast-title,
.days-weather-title {
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
}

.card-time {
  width: 135px;
  height: 260px;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  margin: 0 30px 10px 0;
  padding: 0 10px;
  text-align: center;
}

.weather-icon-time,
.weather-icon-day {
  margin: 20px 0 15px 0;
  width: 70px;
}

.exact-time,
.exact-day {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
}

.exact-temperature,
.exact-temperature-day {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 18px;
  padding-top: 10px;
}

/* ----------------------- NEXT 7 DAYS FORECAST -------------------------------------- */
.days-weather-title {
  margin: 60px 0 30px 0;
}

.card-day {
  width: 200px;
  height: 198px;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  margin: 0 40px 20px 0;
  text-align: center;
}

/* ------------------------------ SWIPER --------------------------------------------- */
.time-swiper {
  margin-top: 20px;
  width: 300px;
}
.swiper {
  width: 300px;
}
